* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

.cards {
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 40px;
}

.card{
    height: 80vh;
    width: 20vw;
    border: 1px solid black;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

img{
    height: 200px;
    width: 200px;
}

#img1{
    height: 60vh;
    width: 80vh;
}

#card1{
    width: 50vw;
}

.card button{
    position: absolute;
    bottom: 5%;
}